.proyek
{
    margin-top: 20px;
}

body
{
    background-image: url(../img/project/background.png);
    background-size: cover;
}

.teks
{
    font-weight: normal;
		color: white;
		text-shadow: 0 0 10px #fff, 
					 0 0 20px #fff, 
					 0 0 30px #fff, 
					 0 0 40px #ff00de, 
					 0 0 70px #ff00de, 
					 0 0 80px #ff00de, 
					 0 0 100px #ff00de, 
					 0 0 150px #ff00de;
}
.carousel
{
    width: 100% !important;
    perspective: 600px !important;
}

.modal
{
    margin-top: 50px;
}